<carousel interval="myInterval" no-wrap="noWrapSlides">
    <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.img}}" style="margin:auto;">
        <div class="carousel-caption">
        </div>
    </slide>
</carousel>
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-9">
            <ul style="padding:0px;">
                <li ng-repeat="article in articles" style="list-style: none">
                    <article>
                        <header>
                            <h3><a href="#article/query/{{article._id}}">{{article.title}}</a></h3>
                            <p ng-bind="article.create_time"></p>
                        </header>
                        <p>
                            {{article.introduction}}
                        </p>
                        <footer>
                            <p>
                                <a href="#">read me more...</a>
                            </p>
                        </footer>
                    </article>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default" type="submit" style="margin:2px;" ng-repeat="label in labels">{{label}}</button>
        </div>
    </div>
</div>

