<!DOCTYPE html>
<html ng-app="addArticleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <style>
        html, body {
            font-family: '微软雅黑';
        }
    </style>
</head>
<body>
<h4 style="text-align: center">新增用户</h4>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form ng-controller="addArticleFormController" name="userForm" novalidate ng-submit="submit()">

                    <div class="form-group" ng-class="{'has-error': userForm.username.$invalid && (userForm.username.$dirty || userForm.$submitted)}">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" ng-model="fields.username" placeholder="必填" required/>
                        <p ng-show="userForm.username.$invalid && (userForm.username.$dirty || userForm.$submitted)" class="help-block">You name is required.</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error': userForm.password.$invalid && (userForm.password.$dirty || userForm.$submitted)}">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="fields.password" placeholder="必填" required password/>
                        <p ng-show="userForm.password.$error.required && (userForm.password.$dirty || userForm.$submitted)" class="help-block">password is required.</p>
                        <p ng-show="userForm.password.$error.password && (userForm.password.$dirty || userForm.$submitted)" class="help-block">6-16位字母加数字密码</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error': userForm.confirmPassword.$invalid && (userForm.confirmPassword.$dirty || userForm.$submitted)}">
                        <label for="confirmPassword">确认密码</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="fields.confirmPassword" equals="{{fields.password}}" placeholder="必填" required/>
                        <p ng-show="userForm.confirmPassword.$error.required && (userForm.confirmPassword.$dirty || userForm.$submitted)" class="help-block">confirm password is required.</p>
                        <p ng-show="userForm.confirmPassword.$error.equals" class="help-block">password not same.</p>
                    </div>

                    <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && (userForm.email.$dirty || userForm.$submitted)}">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" ng-model="fields.email" required placeholder="必填">
                        <p ng-show="userForm.email.$error.required && (userForm.email.$dirty || userForm.$submitted)" class="help-block">email is required</p>
                        <p ng-show="userForm.email.$error.email && (userForm.email.$dirty || userForm.$submitted)" class="help-block">is not a valid email</p>
                    </div>

                    <div class="form-group">
                        <label for="phone">电话号码</label>
                        <input type="text" class="form-control" id="phone" ng-model="fields.phone"/>
                    </div>

                    <div class="form-group">
                        <label for="age">性别</label>
                        <select name="sex" id="sex" ng-model="fields.sex" class="form-control">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="age">年龄</label>
                        <input type="number" class="form-control" name="age" id="age" ng-model="fields.age"/>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agree" value="1"> 是否同意协议
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="pull-right">
                                <input type="submit" class="btn btn-success" value="Submit" ng-click="validateBeforSubmit(fields)"/>
                                <button class="btn btn-default" ng-click="reset(form)">Reset</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/controllers/user/add.js"></script>
</html>