<div class="container" style="margin-top:100px;margin-bottom: 50px;">
    <div class="container-fluid" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/mine.jpg" alt="个人头像" class="img-thumbnail" style="width:140px;height:140px;">
                        </div>
                        <div class="col-md-9">
                            <h3>Crowley</h3>
                            <div>
                                <p>Hi Everybody:</p>
                                <p>
                                    我是一名web开发者，崇尚技术改变世界！这个博客，是我技术分享门户，涉及了前端开发、服务端开发、
                                    软件工程等。希望大家互相学习，争取每周会总结一篇博客，欢迎拍砖。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>